:root {
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-tertiary: #202225;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --text-normal: #dcddde;
    --text-muted: #72767d
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-primary);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-normal)
}

#loading {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--background-primary);
    display: flex;
    justify-content: center;
    align-items: center
}

#loading>div {
    width: 32px;
    height: 32px;
    border: 4px solid var(--text-normal);
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner .5s infinite linear
}

#wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

footer {
    position: fixed;
    bottom: 16px;
    right: 16px;
    user-select: none
}

.tippy-box[data-theme~=dark] {
    background-color: #141414
}

.tippy-box[data-theme~=dark][data-placement^=top]>.tippy-arrow::before {
    border-top-color: #141414
}

.tippy-box[data-theme~=dark][data-placement^=bottom]>.tippy-arrow::before {
    border-bottom-color: #141414
}

.tippy-box[data-theme~=dark][data-placement^=left]>.tippy-arrow::before {
    border-left-color: #141414
}

.tippy-box[data-theme~=dark][data-placement^=right]>.tippy-arrow::before {
    border-right-color: #141414
}

@keyframes spinner {
    from {
        transform: rotateZ(0)
    }

    to {
        transform: rotateZ(360deg)
    }
}